<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ order.gust_name }}</title>
</head>

<body>
{% if offer.villa1 %}
    <h1>Offer 1</h1>
    <h3>Villa: {{ offer.villa1 }} | Price per night: {{ offer.price_per_night1 }} | Tax: {{ offer.tax1 }} |
        Link: {{ offer.villa1.link }}</h3>
{% endif %}
{% if offer.villa2 %}
    <h1>Offer 2</h1>
    <h3>Villa: {{ offer.villa2 }} | Price per night: {{ offer.price_per_night2 }} | Tax: {{ offer.tax2 }} |
        Link: {{ offer.villa2.link }}</h3>
{% endif %}
{% if offer.villa3 %}
    <h1>Offer 3</h1>
    <h3>Villa: {{ offer.villa3 }} | Price per night: {{ offer.price_per_night3 }} | Tax: {{ offer.tax3 }} |
        Link: {{ offer.villa3.link }}</h3>
{% endif %}
{% if offer.villa4 %}
    <h1>Offer 4</h1>
    <h3>Villa: {{ offer.villa4 }} | Price per night: {{ offer.price_per_night4 }} | Tax: {{ offer.tax4 }} |
        Link: {{ offer.villa3.link }}</h3>
{% endif %}

<h3>Bank details:</h3>
<p>Beneficiary: Sputnik Hospitality LLP</p>
<p>Bank: Karur Vysya bank ( Panaji Branch)</p>
<p>A/c: 2401135000002023</p>
<p>IFSC Code: KVBL0002401</p>
<p>SWIFT: KVBLINBBIND</p>
<h1>Terms of reservation confirmations</h1>
<p>All offers are subject to availability and final confirmation will be sent after advance payment. Before that NO
    booking
    is confirmed. After receiving confirmation from your side we block the property for 24 hours allowing advance
    payment
    to reach us. If payment is delayed for any reason, please reconfirm availability with our manager. Same day arrival
    check in is always subject of availability. Advance payment of 50% of total amount is required to confirm the
    booking.
    For peak dates and long weekends 100% advance payment is required. All payments are subject to government taxes.
    For reservation with price per bedroom per night 2,500 INR to 7,499 INR GST 18% If price per bedroom per night 7,500
    INR and above GST 28% Advance payment is 50% refundable for cancellation 30 and more days before arrival. No refund
    will be provided for cancellations less than 30 days before check in date or for booking on long weekend or peak
    dates. If originally booked property (for any reason) can not be used for accommodating guests, management will
    provide
    alternative place of the same or higher category or full refund of advance payment. Management can cancel confirmed
    reservation at any time and for any (no) reason and with no obligations other than to refund any money received.</p>
<h1>Check in/check out</h1>
<p>Every guest is requested to provide valid photo ID and fill arrival form/ C-form on arrival. Failure to do so might
    result
    in refusal of check in. No refund will be provided. Standard checkout time is 12.00 noon and check in time is 2.00
    p.m. Early check in and late check out are subject to availability and additional charges might apply. Facility of
    early check in /late check out cannot be guaranteed in advance unless reserved by payment. Please note that balance
    payment should be made on arrival after checking the property / amenities and correspondence of it to received
    offer/pictures.
    Refusal/delay of making payment might result in refusal of check in and no refund will be provided. We charge
    refundable
    damage deposit of minimum Rs 2,000 per each guest occupying the villa and RS 10,000 per each pet if allowed at the
    property. This deposit which will be returned during check out when property is found non damaged/misused. Damage
    done to the property will be charged to the guest. Please let us know if you discover any damage on arrival as soon
    as possible otherwise it will be considered as done during your stay. Management shall not be made liable for any
    accidents at the pool or due to any slips and falls during stay. Company provides only accommodation and all
    additional
    facilities like food delivery/taxi/vehicle rentals etc. are managed/fulfilled by third party. Therefore management
    of company cannot be held responsible for quality of their service. No outside guest are allowed without prior
    information.
    If found, then extra charges are applicable. It might also result in refusal to provide accommodation to entire
    group.
    No refund will be provided.
</p>
<h1>During your stay</h1>
<p>Even though it’s rare, sometimes circumstances may arise due to mechanical or human errors. We assure to resolve all
    such issues as soon as possible depending on the nature of the problem. Our air conditioning systems are serviced
    and checked on a regular basis. However, in case of unexpected failure it may take 4 to 48 hours to rectify the
    same.
    Satellite TV and Wi-Fi internet are provided by a third party and any issue will be serviced within 24 hours and
    resolved as per their schedule. Major problems with water/electricity supply/ taxi strikes...etc depend on
    Government
    and are out of our control. Minor issues of property can be addressed and solved by caretaker/manager at the spot.
    If no, please call to our customer care executive on +91 70 300 800 99 Housekeeping service is provided once a day
    at a time convenient to you between 10.00 a.m. and 5.00 p.m. Please leave the key to the security/staff to avail
    housekeeping facility. No housekeeping will be done after 5 p.m. Guests are required to observe, abide by, conform
    to and be bound by all applicable Acts, Laws and government rules in force from time to time.
    <strong>Making advance payment towards your reservation means that all guests read, understood and agreed to listed
        terms
        and conditions and rules/regulations.</strong> Looking forward to hosting you in Goa
</p>

</body>

</html>