{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href={% static 'css/styles.css'%}>
</head>
<body>
Do you really want to delete {{ item_to_delete.item_name }}?
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Yes</button>
    <a class="btn btn-outline-dark" href="/storage/{{ item_to_delete.storage.pk }}" role="button">No</a>
</form>
</body>
</html>